@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

:root{
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(165, 94, 94, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite:#fff;
  --mainBlack: #222;
  --mainTransition:all 0,3s ease-in-out;
  --mainSpacing: 0.3rem;
}

text-main{
  color: var(--primaryColor);
}

.text-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

body{
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainGrey) !important;
}
.linktext{
  padding: 0.5rem 1rem;
  font-size: 1.0rem;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  text-transform: uppercase;
  background: var(--darkGrey);
  display: inline-block;
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);
}
.linktext:hover{
  background: var(--primaryColor);
  text-decoration: none;
  color: var(--mainWhite);
  outline-color: var(--darkGrey);
}
